.btn {
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  transition-duration: .15s;
  cursor: pointer;

  &:hover { background-color: darken(#0d6efd, 5%)}
}

.btn_primary { background-color: #0d6efd; }

.btn_ghost {
  color: #000;
  background: none;
  box-shadow: 0 0 0 1px #ccc;

  &:hover { color: #fff; }
}
